{% extends 'base2.html' %}
{% load static %}
{% block content %}

<html lang="en">

<style>
body{
padding-top: 60px; }
</style>

<body>
<header>
    <title>Our Team</title>
</header>
<!-- Justines change -->
  <link href="{% static 'team.css' %}" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<!-- Katies change -->
<main>
</body>
<div class="py-5 team4 ">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-md-7 text-center">
        <h3 style="font-family: 'Molengo'" class="mb-3">Meet the Team</h3>
        <h6 style="font-family: 'Droid Sans'" class="subtitle">We are a team of individuals who are passionate
        about making the electrical engineering student experience (tolerable?)</h6>
      </div>
    </div>
    <div class="space"></div>
    <div class="row">
<!--rendering members of meet the team-->
      {% for teams in team.all%}
      <!-- column  -->
      <div class="col-lg-3 mb-4">
        <!-- Row -->
        <div class="row">
          <div class="col-md-12">
                <img src= {{teams.profile_pic.url}} alt="wrapkit" class="img-fluid rounded-circle" />
          </div>
          <div class="col-md-12 text-center">
            <div class="pt-2">
              <h5 class="mt-4 font-weight-medium mb-0">{{ teams.name }}</h5>
              <h6 class="subtitle mb-3">{{ teams.position }}</h6>
              <p> {{teams.email}}</p>
            </div>
          </div>
        </div>
        <!-- Row -->
      </div>
      {% endfor %}
<!--      testing pfp scaling stuff: <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" alt="wrapkit" class="img-fluid rounded-circle"/> -->
      </div>
    </div>
  </div>
</main>
{% endblock %}

</html>


