{% extends 'base2.html' %}
{% load static %}
{% block content %}

<html lang="en">
<body>
<header>
    <title>Our Team</title>
</header>
<!-- Justines change -->
<link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
<link href="{% static 'team.css' %}" rel="stylesheet">
<!-- Katies change -->
</body>
<main>

    <div class="py-5 team4 ">
        <div class="container">
            <div class="row justify-content-center mb-4">
                <div class="col-md-7 text-center">
                    <h2 class="mb-3">Meet the Team</h2>
                    <h6 class="subtitle">We are a team of individuals who are
                        passionate
                        about making the EE student experience EExceptional! </h6>
                </div>
            </div>
            <div class="space"></div>
            <h3>Senior Execs</h3>
            <div class="row">
                <!--rendering members of meet the team-->
                {% for teams in srexecs.all%}
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src={{teams.profile_pic.url}} alt="wrapkit" class="img-fluid rounded-circle"/>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h4 class="mt-4 mb-0">{{ teams.name }}</h4>
                                <a href="../club/#{{teams.position}}"><h5 class="subtitle mb-1">
                                    {{ teams.position}}
                                </h5></a>
                                <a href="mailto: {{teams.email}} ">{{teams.email}} </a>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                {% endfor %}
                <!--      testing pfp scaling stuff: <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" alt="wrapkit" class="img-fluid rounded-circle"/> -->
            </div>
            <div class="space"></div>
            <h3>Junior Execs</h3>
            <div class="row">
                <!--rendering members of meet the team-->
                {% for jteams in jrexecs.all%}
                <!-- column  -->
                <div class="col-lg-3 mb-4">
                    <!-- Row -->
                    <div class="row">
                        <div class="col-md-12">
                            <img src={{jteams.profile_pic.url}} alt="wrapkit" class="img-fluid rounded-circle"/>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="pt-2">
                                <h4 class="mt-4 mb-0">{{ jteams.name }}</h4>
                                <a href="../club/#{{jteams.position}}">
                                    <h5 class="subtitle mb-1">
                                        {{jteams.position}}
                                    </h5></a>
                                <a href="mailto: {{jteams.email}}">{{jteams.email}} </a>
                            </div>
                        </div>
                    </div>
                    <!-- Row -->
                </div>
                {% endfor %}
                <!--      testing pfp scaling stuff: <img src="https://www.wrappixel.com/demos/ui-kit/wrapkit/assets/images/team/t4.jpg" alt="wrapkit" class="img-fluid rounded-circle"/> -->
            </div>
        </div>

    </div>
    </div>
</main>
<br>
<br>
{% endblock %}

</html>


