@import url(//fonts.googleapis.com/css?family=Lato:300,500);
@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
@import url(https://fonts.googleapis.com/css?family=Molengo:300,500);

/* GLOBAL DEFAULTS */

h1 {
  font-family: 'Molengo', Georgia, Times, serif;
  font-size: 56px;
  line-height: 80px;
 
}

h5 {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 20px;
}

.container > h1 {
  text-align:center; 
  padding-left:70px;
  font-size:26px;
}

.infobox{
  position: absolute;
  display: none;
  z-index: 2;
  background-color:green;
}

div .infobox{
  width: 450px;
  padding: 10px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: white;
  margin: 0;
  top: 50%;
  left: 60%;

  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.card{
  position: absolute;
  z-index: 1;
  left:25%;
  height:50px;
  width: 18rem;
}

.openlink {
  color: #2063f7;
  text-decoration: none;
}

.space{
  height: 300px;
 }

.between{
  height: 60px;
}

.icon {
  padding-left: 20px; 
}

.collapse-btn {
  padding-left: 18px;
  color: #8d97ad;
  text-decoration: none;
}
