@import url(//fonts.googleapis.com/css?family=Montserrat:300,500);
@import url(//fonts.googleapis.com/css?family=Lato:300,500);
@import url(https://fonts.googleapis.com/css?family=Molengo);

body {
  padding-top: 60px;
}

/* GLOBAL DEFAULTS */

h2, h3, h4 {
  font-family: 'Molengo';
  color: #000000;
}

h3 {
  text-align:center;
}

h5, h6 {
  font-family: 'Droid Sans';
}

h5 {
  line-height: 22px;
  font-size: 16px;
}

h6 {
  font-size: 20px;
}

.team4 .font-weight-medium {
	font-weight: 500;
}

.team4 .subtitle {
    color: #8d97ad;
    line-height: 24px;
}

.team4 a {
  font-family:Droid Sans;
  font-size:14px;
}
