<!doctype html>
{% extends 'base.html' %}
{% load static %}
<header>
    <title>Newsletter</title>
</header>

{% block content %}
<div class="container">
    <h1 class="text-center pt-4">Newsletter</h1>
    <br/>
    <h2>Latest Posts</h2>
    <br/>
    <div class="row">
        {% for blog in blogs.all %}
        <div class="blog-post">
            <a href="{% url 'detail' blog.id %}"><h3 class="blog-post-title">{{blog.title}}</h3></a>
            <p class="blog-post-meta">{{blog.publication}} </p>
            <img class="card-img-top img-fluid" src="{{blog.image.url}}">
            <p>{{blog.summary}}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
</html>