{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<header>
    <meta charset="UTF-8">
    <link href="{% static 'allposts.css' %}" rel="stylesheet">

    <title>{{tabTitle}}</title>
</header>


<main>
    <div class="container" style="width:55%"> <!-- spacing -->
        <br/>
        <br/>
        <h2>{{pageTitle}}</h2>
        <!--<h3>Subscribe to our monthly newsletter! mb-2 mr-sm-2 ml-10</h3>-->
        <form class="form-inline">
        <label for="email" style="font-family: Verdana; margin-right:195px;">Subscribe to our monthly newsletter!</label>
        <input class="form-control  mb-10 mr-2" style="width:220px" type="email" id="email" name ="email"  placeholder=" enter your email">
        <!--style="width:220px; height:35px;margin-left:190px;"-->
        <a class="btn btn-outline-primary" href="#" style="float: right; margin-right:20px;" role="button">Subscribe</a>
        </form>
        <hr/>
        <div class="row ">
            {% for post in posts.all %}

            <div class="onepost">
                <!--padding-left: 20px; padding-right: 40px; font-family: Lato;-->
                <h3 class= "text" style="padding-left: 20px; padding-top: 20px;">{{post.title}}</h3>
                <p class= "text" style="font-family: Lato;">{{post.publication.date}} </p>

                <p class="blurb">{{post.body|truncatewords:100}}</p>
                    <a class="btn btn-primary" href="{% url 'detail' post.id %}" style="float: right; margin-right:20px;" role="button">Read More</a>


                <!--<a href="{% url 'detail' post.id %}"></a>-->
            </div>


            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}
</html>
