{% extends 'base.html' %}
{% load static %}
{% block content %}
<html lang="en">
<header>
    <meta charset="UTF-8">
    <link href="{% static 'allposts.css' %}" rel="stylesheet">

    <title>Newsletter</title>
</header>


<main>
    <div class="container" style="width:55%"> <!-- spacing -->
        <br/>
        <br/>
        <h2>Latest Newsletters</h2>
        <hr/>
        <div class="row ">
            {% for post in posts.all %}

            <div class="onepost">
                <h3 style="padding-left: 20px; padding-top: 20px;">{{post.title}}</h3>
                <p style="padding-left: 20px; padding-right: 40px">{{post.publication.date}} </p>

                <p class="blurb">{{post.body|truncatewords:100}}</p>
                    <a class="btn btn-primary" href="{% url 'detail' post.id %}" style="float: right; margin-right:20px;" role="button">Read More</a>


                <!--<a href="{% url 'detail' post.id %}"></a>-->
            </div>
            <br/>

            {% endfor %}

        </div>
    </div>
</main>
{% endblock %}
</html>
