{% extends 'base.html' %}
{% load static %}

{% block content %}
<html lang="en">
<header>
    <meta charset="UTF-8">
    <link href="{% static 'allposts.css' %}" rel="stylesheet">

    <title>{{post.publication|date:'F'}} Newsletter</title>
</header>
<main role="main">
    <div class="container"> <!-- spacing -->
        <h2 class="text-center pt-4">{{post.title}}</h2>
        <br/>
        <hr/>
    <div class="row">
        <div class="blog-post">
            <p class="blog-post-meta" style="padding-left: 20px;">{{post.publication}} </p>
            <p class="blurb">{{post.body}}</p>
        </div>

        <div>
    </div>
</main>

{% endblock %}
</html>
