{% extends 'base2.html' %}
{% load static %}
{% block content %}

<html lang="en">

<style>

</style>

<body>
<header>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Molengo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="{% static 'allposts.css' %}" rel="stylesheet">
    <title>{{post.publication|date:'F'}} Newsletter</title>
</header>
<br>
</body>
<main role="main">
    <div class="container"> <!-- spacing -->

        <h2 id="post-title" class="text-center pt-4">{{post.title}}</h2>
        <br/>
        <hr/>
        <div class="row">
            <div class=" container blog-post">

                <p id="post-date" class="blog-post-meta">{{post.publication}} </p>
                <p class="blurb" style="f">{{post.body | linebreaks }}</p>
            </div>

            <div>
            </div>
        </div>
    </div>
</main>
<br>
<br>

{% endblock %}
</html>
