{% extends 'base2.html' %}
{% load static %}
{% block content %}

<html lang="en">
<header>
    <title>Events</title>
     <link href="{% static 'events.css' %}" rel="stylesheet" >
</header>

<!--responsiveless of calendar-->
<style type = text/css>


    .centering {
        margin: 0 auto;
        padding: 100 px 0 0;
        margin-left: auto;
        margin-right: auto;
    }

    .calendarTest{
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
        position: relative;
    }

    .calendarTest iframe{
        position: absolute;
        width: 100%;
        height: 100%;

    }
body{
padding-top: 60px; }
</style>


<div class="container">
    <body>

    <h2 class="text-center pt-4" style="font-family='Lato'">Our Events Calendar</h2></body>
    <br/>
        <div id = "centering">
            <div class = "calendarTest">
                        <!--    loading calendar mmmmm yum    -->
<!--        test calendar    <iframe class ="centerboi"src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%235A6986&amp;ctz=America%2FEdmonton&amp;src=MjkzcDRtZnFhYXY4cW5lNWZpZXFhanZyaTBAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%235A6986&amp;color=%235A6986" style="border:solid 10px #8d97ad " frameborder="2" scrolling="no"></iframe>-->
            <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%233F597F&amp;ctz=America%2FEdmonton&amp;src=dWFsYmVydGEuY2FfcTVmYjV1azFydmtkcmpka3ByaWhma2kyODhAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;color=%235A6986&amp;color=%233F597F" style="border:solid 10px #152F4F " frameborder="2" scrolling="yes"></iframe>
            </div>
        </div>
    <br/>
</div>

{% endblock %}
</html>

