
<html lang="en">
<!-- justines chanage -->

<header>
    <title>EE Club</title>
    <link href="static/home.css" rel="stylesheet" >
    <link href = "static/basetemplate.css" rel="stylesheet">
</header>

{% extends 'base.html' %}
{% load static %}
{% block content %}
<main role="main">

    <section class="jumbotron">
        <div class="container">
            <h1 style="font-size:500%;padding-top: 50px;text-align:center;">Electrical Engineering Club</h1>
            <p style="color:#aececf; font-size:150%; text-align:center; margin-top:20px">at the University of
                Alberta</p>

        </div>

    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <h2 class="h2title">About Us</h2>
            <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque corrupti quos
                dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.
                Et harum quidem rerum facilis est et expedita distinctio.</p>
        </div>
        <div class="space"></div>
        <div class="container">
            <h2 class="h2title">Our Events</h2>
            <div class="row">
                <div class="col-sm">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="static/knight.jpg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h2>Robot GF Building</h2>
                                <p>How to make realistic anime girl sx bots</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">

                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="static/knight.jpg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h2>ECE 101</h2>
                                <p>How to engage in conversations with a female.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="flip-card">
                        <div class="flip-card-inner">
                            <div class="flip-card-front">
                                <img src="static/knight.jpg" alt="Avatar" style="width:300px;height:300px;">
                            </div>
                            <div class="flip-card-back">
                                <h2>Taking things to the next level</h2>
                                <p>How to really connect with her ;)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
</main>

{% endblock %}

</html>
